

.dapp-neon-box{
    border: 1px solid #E5C10E;
    box-shadow: 0px 0px 15px 3px rgba(229, 193, 14, 0.5);
    position: relative;
}
.dapp-neon-box::after{
    position: absolute;
    z-index: -1;
    content:'';
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    box-shadow: inset 0px 0px 15px 3px rgba(229, 193, 14, 0.5);
}
.dapp-btn-1{
    background: #E5C10E;
    border-radius: 60px;
    padding: 14px 41px;
    color: black;
}
.dapp-navbar{
    margin-bottom: 65px;
    padding-top: 32px;
}
.navbar > .container > .logout-btn{
    border-radius: 60px;
    padding: 13px 39px;
    border: 1px solid white;
}
.navbar > .container > .logout-btn > img{
    width: 24px;
    height: 24px;
}
.navbar > .container > a > img{
    width: 177px;
}



.dapp-main-content{
    padding-bottom: 113px;
}
.dapp-main-content > .container > .dapp-left-block{
    flex:1;
}
.dapp-main-content > .container > .dapp-right-block{
    width:100%;
    max-width: 650px;
    margin-left: 71px;
}
.dapp-main-content > .container > .dapp-right-block > img{
    width: 174.02px;
    margin-bottom: 46px;
    padding-top: 17px;
}
.dapp-main-content > .container > .dapp-right-block > .dapp-address-block{
    padding: 25px;
}
.dapp-main-content > .container > .dapp-right-block > .dapp-address-block > div{
    flex:1;
}
.dapp-main-content > .container > .dapp-right-block > .dapp-address-block > div > span{
    color: rgba(255, 255, 255, 0.5);
}
.dapp-main-content > .container > .dapp-right-block > .dapp-address-block > div > div > img{
    margin-left: 12px;
}
.dapp-main-content > .container > .dapp-right-block > .dapp-address-block > button{
    margin-left: 39px;
}


.dapp-left-block > .dapp-left-itm{
    padding: 36px 47px;
    position: relative;
    margin-bottom: 18px;
}
.dapp-left-block > .dapp-left-itm > img{
    position: absolute;
    background-color: #E5C10E;
    border-radius: 50%;
    padding: 12px;
    width: 48px;
    height: 48px;
    z-index: 2;
    box-shadow: 0px 0px 15px 3px rgba(229, 193, 14, 0.5);
    left: -24px;
}
.dapp-left-block > .dapp-left-itm > span{
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 6px;
}
.dapp-left-block > .dapp-left-itm > div{
    position: relative;
}
.dapp-left-block > .dapp-left-itm > div > span{
    margin-left: -7px;
}
.dapp-left-block > .dapp-left-itm > div::before{
    content: '';
    position: absolute;
    z-index: -1;
    background-color: #E5C10E;
    filter: blur(30px);
    width: 130px;
    height: 10px;
    left: 0;
    top: 15px;
}


.dapp-main-content > .container > .dapp-right-block > .dapp-reward-block{
    padding: 40px 25px;
    margin-top: 20px;
    border-bottom:unset;
}
.dapp-main-content > .container > .dapp-right-block > .dapp-reward-block > img{
    width: 76px;
    height: 76px;
    object-fit: contain;
    box-shadow: 0px 0px 15px 3px rgba(229, 193, 14, 0.5);
    border-radius: 50%;
    padding:14px;
    background-color: rgba(229, 193, 14, 1);
    margin-right: 23px;
}
.dapp-main-content > .container > .dapp-right-block > .dapp-reward-block > div > div {
    margin-bottom: 23px;
}
.dapp-main-content > .container > .dapp-right-block > .dapp-reward-block > div > span {
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: -5px;
}
.dapp-main-content > .container > .dapp-right-block > .dapp-reward-block > div > div > span{
    margin-left: -5px;
}


.dapp-main-content > .container > .dapp-right-block > .dapp-reward-pool-block{
    padding: 28px 25px;
}
.dapp-main-content > .container > .dapp-right-block > .dapp-reward-pool-block > span:first-child{
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 6px;
}

.dapp-main-content > .container > .dapp-right-block > .dapp-address-block > div > div > span{
    overflow: hidden;
    text-overflow: ellipsis;
}


.dapp-m-logo{
    margin: auto;
    margin-bottom: 24px;
}




@media all and (min-width: 1280px){
    .container{
        padding: 0 60px
    }
}
@media all and (min-width: 1440px){
    .container{
        padding: 0 100px
    }
}




@media all and (max-width: 1140px){
}
@media all and (max-width: 1080px){
    .dapp-main-content > .container{
        flex-direction: column;
    }
    .dapp-main-content > .container > .dapp-right-block{
        margin-left: unset;
        max-width: 100%;
    }
    .dapp-m-show{
        display: block;
    }
    .dapp-m-hide{
        display: none;
    }
    .dapp-navbar > .container > .dapp-logout-btn{
        padding: unset;
        border: unset;
    }
    .dapp-main-content > .container > .dapp-left-block{
        white-space: nowrap;
        overflow-x: auto;
        overflow-y: hidden;
        padding-left: 34px;
        margin-bottom: 20px;
        width: 100vw;
        margin-left: -40px;
    }
    .dapp-left-block > .dapp-left-itm{
        display: inline-block;
        margin-right: 44px;
    }
}
@media all and (max-width: 994px){
    
}
@media all and (max-width: 972px){
    .container{
        padding: 0 20px
    }
    .dapp-main-content > .container > .dapp-left-block{
        margin-left: -20px;
    }
}
@media all and (max-width: 768px),
all and (orientation: landscape) and (max-width: 768px){

    .t-12-14{
        font-size: 11px;
        line-height: 13px;
    }
    .t-14-14{
        font-size: 12px;
        line-height: 14px;
    }
    .t-14-16{
        font-size: 12px;
        line-height: 14px;
    }
    .t-16-19{
        font-size: 12px;
        line-height: 14px;
    }
    .t-18-21{
        font-size: 16px;
        line-height: 18px;
    }
    .t-20-24{
        font-size: 18px;
        line-height: 21px;
    }

    .dapp-main-content > .container > .dapp-right-block > .dapp-address-block{
        flex-direction: column;
    }
    .dapp-main-content > .container > .dapp-right-block > .dapp-address-block > button{
        margin-left: unset;
        margin-top: 26px;
    }
}
@media all and (max-width: 568px){
    .dapp-main-content > .container > .dapp-right-block > .dapp-reward-block{
        flex-direction: column;
    }
    .dapp-main-content > .container > .dapp-right-block > .dapp-reward-block > img{
        margin-right: unset;
        margin-bottom: 7px;
    }
    .dapp-main-content > .container > .dapp-right-block > .dapp-reward-block > div > button{
        width: 100%;
    }
}

@media all and (max-width: 430px){
    
}
@media all and (max-width: 320px){
    
}