.docpage-landing-sec1{
    padding-top: 150px;
    background: url('../assets/asset_docpage/bg-docpage.png');
    background-position: 47% -200%;
    background-repeat: no-repeat;
    background-size: 150%;
    padding-bottom: 248px;

  }
  
  .docpage-main-box{
      width: 100%;
      position: relative;
      padding: 0 81px;
      padding-top: 74px;
      padding-bottom: 65px;
      margin-bottom: 73px;
      background-position: center;
      background-size: 102% 110%;
      background-repeat: no-repeat;
  }
 
  .docpage-main-box > h1{
    position: relative;
    margin-bottom: 58px;
  }
  .docpage-main-box > .btn-wrap > a{
      background: #0E93F5;
      border-radius: 60px;
      padding: 14px 60px;
      margin: 0 12px;
      display: flex;
      align-items: center;
  }

  .docpage-main-box > .btn-wrap > a > a{
    display: flex;
    align-items: center;
}

  .docpage-main-box > .btn-wrap{
    display: flex;

}

.arrow{
   margin-left: 34px;
   padding: 14px 14px;
}

  .docpage-main-box > .btn-wrap > .doc-btn-black{
    background:#1E1E1E;
    border-radius: 60px;
    padding: 16px 60px;
    margin: 0 11px;
}

/* font  */

.doc-display{
font-weight: 600;
font-size: 72px;
line-height: 108px;
text-align: center;
color: #FFFFFF;
text-shadow: 2px 2px 8px #0E93F5;
}

.doc-t-18-27 {
    font-size: 18px;
    line-height: 27px;
}

/* respondsive  */
  
@media all and (min-width: 1280px){
   
}
@media all and (min-width: 1440px){

}




@media all and (max-width: 1140px){
}
@media all and (max-width: 1000px){
  
}
@media all and (max-width: 994px){

}
@media all and (max-width: 972px){

 
}
@media all and (max-width: 768px),
all and (orientation: landscape) and (max-width: 768px){
    .docpage-main-box > .btn-wrap {
        display: flex;
        flex-direction: column;
    }

    .docpage-main-box > .btn-wrap > a{
        margin-bottom: 12px;
      }



  .t-12-14{
      font-size: 11px;
      line-height: 13px;
  }
  .t-14-14{
      font-size: 12px;
      line-height: 14px;
  }
  .t-14-16{
      font-size: 12px;
      line-height: 14px;
  }
  .t-16-19{
      font-size: 12px;
      line-height: 14px;
  }
  .t-18-21{
      font-size: 16px;
      line-height: 18px;
  }
  .t-20-24{
      font-size: 18px;
      line-height: 21px;
  }
}
@media all and (max-width: 568px){
 
  .logo > img.big{
      display: block;
  }
  .logo > img.small{
      display: none;
  }
}

@media all and (max-width: 430px){
    .doc-display {
        font-weight: 600;
        font-size: 50px;
        line-height: 60px;

    }
    /* .docpage-main-box > .btn-wrap {
        display: flex;
        flex-direction: column;
    } */

  .doc-t-18-27{
    font-size: 12px;
    line-height: 18px;
}
/* .docpage-main-box > .btn-wrap > a{
  margin-bottom: 12px;
} */

.docpage-main-box {

padding: 0 40px;
padding-top: 74px;
padding-bottom: 65px;

}

.docpage-landing-sec1 {
background-position: 47% 30%;
background-repeat: no-repeat;
background-size: 200%;
padding-bottom: 148px;
}

.docpage-main-box {

padding: 0 20px;
padding-top: 74px;
padding-bottom: 65px;
margin-bottom: 73px;

}

.docpage-main-box > a {

padding: 16px 60px;

}



}
@media all and (max-width: 375px){
  .docpage-main-box {
    padding: 0 10px;
    padding-top: 74px;
    padding-bottom: 65px;
}

}