*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body{
    width:100vw;
    background-color: #000000;
    overflow: auto;
    margin: unset;
}
html {
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}
main {
    margin-top: 70px;
}

.container {
    padding-left: 120px;
    padding-right: 120px;
    margin: 0 auto;
    max-width: 1440px;
}
.cursor {
    cursor: pointer;
}
.d-none{
    display: none;
}
.d-block {
    display: block;
}
.d-flex {
    display: flex;
}
.t-white {
    color: #fff;
}
.t-green {
    color: #4CEC72;
    opacity: 1;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
}
.t-500 {
    font-weight: 500;
}
.t-600 {
    font-weight: 600;
}
.t-700 {
    font-weight: 700;
}
.t-16-24 {
    font-size: 16px;
    line-height: 24px;
}
.t-12-18 {
    font-size: 12px;
    line-height: 18px;
}
.t-18-27 {
    font-size: 18px;
    line-height: 27px;
}
.t-36-54 {
    font-size: 36px;
    line-height: 54px;
}
.t-14-21 {
    font-size: 14px;
    line-height: 21px;
}
.t-grey {
    color: rgba(146, 146, 146, 1);
}
.jcc {
    justify-content: center;
}
.aic {
    align-items: center;
}
.fdc {
    flex-direction: column;
}
.fdr {
    flex-direction: row;
}

/* navbar */
.header{
    /* border-bottom: 1px solid #E2E8F0; */
}
.nav-link {
    font-size: 18px;
    line-height: 27px;
    margin-right: 65px;
}
.nav-item {
    margin-left: 30px;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
}
.hamburger {
    display: none;
}
.btn-contact {
    background-color:rgba(14, 147, 245, 1);
    border: none;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 60px;
}
.btn-logout {
    padding-top: 13px;
    padding-bottom: 13px;
    padding-right: 39px;
    padding-left: 39px;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 60px;
    margin-left: 12px;
}
.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #ffffff;
}
.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo {
    display: flex;
    justify-content: start;
    align-items: flex-start;
}
.select-nav {
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
}
/* custom-select */
.custom-select {
    position: relative;
    font-family: Arial;
  }
  
  .custom-select select {
    display: none; /*hide original SELECT element: */
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    appearance:none !important;
    background-image: url("../assets/asset_homepage/ic-dropdown.svg");
    height: 24px;
    width: 24px;
    background-repeat: no-repeat;
	/* размер фона */
	background-size: 16px;
	/* позиционируем фон 95% по X и 50% по Y */
	background-position: 95% 50%;
  }
  
  .select-selected {
    background-color: transparent;
  }
  
  /* Style the arrow inside the select element: */
  .select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
  }
  
  /* Point the arrow upwards when the select box is open (active): */
  .select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 100px;
  }
  
  /* style the items (options), including the selected item: */
  .select-items div,.select-selected {
    color: #ffffff;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
  }
  
  /* Style items (options): */
  .select-items {
    position: absolute;
    background-color: transparent;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
  }
  /* Hide the items when the select box is closed: */
  .select-hide {
    display: none;
  }
  select {
      appearance: none !important;
  }
  .select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
  }
  .main-txt {
      margin-bottom: 58px;
    width: 53%;
    text-align: center;
    color: #fff;
    text-shadow:
    0 0 42px #0E93F5,
    0 0 82px #0E93F5,
    0 0 92px #0E93F5,
    0 0 102px #0E93F5,
    0 0 151px #0E93F5;
  }
.twitter {
    padding-left: 47px;
    padding-right: 56px;
}
.tele {
    padding-left: 39px;
    padding-right: 44px;
    margin: 0 23px;
}
.yt {
    padding-left: 39px;
    padding-right: 52px;
}
.btn-sosmed {
    padding-top: 13px;
    padding-bottom: 13px;
    background-image: linear-gradient(to right,rgba(14, 147, 245, 1), rgba(0, 201, 212, 1));
    border-radius: 60px;
  }
  .btn-sosmed img {
      margin-right: 6px;
  }
  body {
    background-image: url("../assets/asset_homepage/bg.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center top;
    background-color:#000000;
    /* max-width: none; */
    max-width: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
  }
  .home-sec-1 {
      max-width: 1440px;
      margin: 0 auto;
  }
  .main-content-wrapper{
      z-index: 98;
      margin-top: 90px;
      /* border: 2px solid #0E93F5; */
      padding-bottom: 60px;
      position: relative;
      background-image: url("../assets/asset_homepage/border.png");
      background-repeat: no-repeat;
      background-position: bottom;

  }
  .gem-1 {
      position: absolute;
      bottom: 230px;
      left: 10px;
  }
  .gem-2 {
      position: absolute;
      bottom: 45px;
      left: 136px;
  }
  .gem-3 {
    position: absolute;
    bottom: 118px;
    left: 241px;
  }
  .gem-4{
    position: absolute;
    bottom: 51px;
    left: 450px;
  }
  .gem-5 {
    position: absolute;
    bottom: 65px;
    left: 711px;
  }
  .gem-6 {
    position: absolute;
    bottom: 15px;
    right: 374px;
  }
  .gem-7 {
    position: absolute;
    bottom: 132px;
    right:219px;
  }
  .gem-8 {
    position: absolute;
    bottom: 47px;
    right: 77px;
  }
  .gem-9 {
    position: absolute;
    bottom: 234px;
    right: 16px;
  }
@media only screen and (max-width: 768px) {
    .container {
        padding-left: 40px;
        padding-right: 40px;
    }
    .nav-menu {
        position: fixed;
        right: -200%;
        top: 0;
        /* margin-right: -30%; */
        display: flex;
        /* margin-top: 100px; */
        padding-top: 100px;
        justify-content: start;
        align-items: center;
        flex-direction: column;
        background-color: rgb(0, 0, 0);
        width: 70%;
        height: 100vh;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        z-index: 99;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
    }
    .nav-menu.active {
        right: 0;
    }

    .nav-item {
        margin: 2.5rem 0;
    }
    .hamburger {
        display: block;
        cursor: pointer;
        z-index: 99;
    }
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    body {
        background-position: center;
        background-size: cover;
        overflow: auto;
    }
    .sosmed-wrapper {
        flex-direction: column;
    }
    .btn-sosmed {
        margin-left: 0;
        margin-right: 0;
        margin-top: 14px;
        margin-bottom: 14px;
    }
    .main-txt {
        width: 100%;
        font-size: 14px;
        line-height: 21px;
    }
    .main-content-wrapper{ 
        background-image: none;
    }

}
