*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body{
    width:100vw;
    background-color: #000000;
    overflow: auto;
    margin: unset;
}
html {
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}
main {
    margin-top: 70px;
}

.container-refinery-paper {
    padding-left: 120px;
    padding-right: 120px;
    margin: 0 auto;
    max-width: 1440px;
}
.cursor {
    cursor: pointer;
}
.d-none{
    display: none;
}
.d-block {
    display: block;
}
.d-flex {
    display: flex;
}
.t-white {
    color: #fff;
}

.t-500 {
    font-weight: 500;
}
.t-600 {
    font-weight: 600;
}
.t-700 {
    font-weight: 700;
}
.t-16-24 {
    font-size: 16px;
    line-height: 24px;
}
.t-16-27 {
    font-size: 16px;
    line-height: 27px;
}
.t-12-18 {
    font-size: 12px;
    line-height: 18px;
}
.t-36-54 {
    font-size: 36px;
    line-height: 54px;
}
.t-14-21 {
    font-size: 14px;
    line-height: 21px;
}
.t-grey {
    color: rgba(255, 255, 255, 0.6);
}
.jcc {
    justify-content: center;
}
.aic {
    align-items: center;
}
.fdc {
    flex-direction: column;
}
.fdr {
    flex-direction: row;
}
/* navbar */
.navbar-refinery-paper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    padding-top: 20px;
    padding-bottom: 168px;
}
.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #ffffff;
}
.nav-menu-refinery-paper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-center{
    padding-left: 55px;
    padding-right: 55px;
}
.nav-logo-refinery-paper {
    display: flex;
    justify-content: start;
    align-items: flex-start;
}
.go {
    background-color: rgba(255, 255, 255, 0.07);
  border-bottom-right-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
}
.nav-menu-refinery-paper.go {
    display: flex;
    right: 0px;
}
/* section-hero */
.section-hero-refinery-paper {
    max-width: 1440px;
    margin: 0 auto;
}
.hero-bg {
    width: 100%;
    position: relative;
    height: 100vh;
    background: url("../assets/asset_refinery/bg-refinery.png");
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    margin-bottom: 180px;
    padding: 0px;
}
.heading-hero-refinery-paper {
    font-size: 72px;
    line-height: 108px;
    text-shadow: 0px 0px 15px #F75D19;
    margin: 0 auto;
}
.heading-section-tree-refinery-paper span:nth-child(1){
    font-size: 40px;
    line-height: 52px;
    font-weight: 600;
    text-shadow: 0px 0px 15px #F75D19;
    color: #fff;
}
.heading-section-tree-refinery-paper span:nth-child(2){
    color: rgba(255, 255, 255, 0.7);
    font-size: 16px;
    line-height: 24px;
    width: 63%;
    text-align: center;
    margin-top: 6px;
    margin-bottom: 40px;
}
.footer-section-tree-refinery-paper {
    padding-top: 100px;
    margin: 0 auto;
}
.footer-section-tree-refinery-paper span:nth-child(1){
    font-size: 48px;
    line-height: 72px;
    text-shadow: 0px 0px 15px #F75D19;
    font-weight: 600;
}
.footer-section-tree-refinery-paper span:nth-child(2){
    font-size: 24px;
    line-height: 36px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.7);
    margin-top: 17px;
    text-align: center;
}
/* section-tree */
.wrapper-tree {
    max-width: 1440px;
    height: 1770px;
    margin: 0 auto;
    background-image: url(../assets/asset_refinery/bg-tree.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto;
    margin-bottom: 100px;
}

.wrapper-tree > div {
    padding: 1em;
    color: #d9480f;
    /* background-color: #fff; */
    /* margin-top: 200px; */
}

.wrapper-tree {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 0px;
    column-gap: 180px;
    margin-bottom: 350px;
}
.wrapper-tree div:nth-of-type(even){
    grid-column: 2;
}
.title-card-tree {
    font-size: 40px;
    line-height: 52px;
    color: #fff;
    font-weight: 600;
    text-shadow: 0px 0px 15px #F75D19;
}
.desc-card-tree {
    font-size: 16px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.7);
    width: 100%;
    margin-top: 16px;
}
.desc-card-tree ul li{
    list-style-type: disc;
    font-size: 16px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.7);
    margin-left: 18px;
}
.ul-development,.ul-graphic,.ul-strategy,.ul-community,.ul-marketing,.ul-launchpad {
    padding-top: 30px;
}
.One {
    margin-top: 120px;
    align-items: flex-start;
    justify-content: start;
}
.Two {
    grid-row: 2;
    margin-top: -20px;
    align-items: flex-start;
    justify-content: start;
}
.Three {
    grid-row: 3;   
    margin-top: -90px;
    align-items: flex-start;
    justify-content: start;
}
.Four {
    grid-row: 4;  
    margin-top: -30px;
    align-items: flex-start;
    justify-content: start; 
}
.Five {
    grid-row: 5;
    margin-top: -80px;
    align-items: flex-start;
    justify-content: start;
}
.Six {
    grid-row: 6;
    margin-top: -90px;
    align-items: flex-start;
    justify-content: start;
}
.Seven {
    grid-row: 7;
    margin-top: -185px;
    align-items: flex-start;
    justify-content: start;
}
.Eight {
    grid-row: 8;
    margin-top: -15px;
    align-items: flex-start;
    justify-content: start;
}
.nine {
    grid-row: 9;
    margin-top: -190px;
    align-items: flex-start;
    justify-content: start;
}
.ten {
    grid-row: 10;
    margin-top: -80px;
    align-items: flex-start;
    justify-content: start;
}
@media (min-width: 320px) and (max-width:375px) {
    .container-refinery-paper {
        padding-left: 38px;
        padding-right: 38px;
    }
    .heading-section-tree-refinery-paper{
        padding-left: 38px;
        padding-right: 38px;
    }
    .section-hero-refinery-paper {
        padding-left: 38px;
        padding-right: 38px;
    }
    .heading-hero-refinery-paper {
        font-size: 40px;
        line-height: 60px;
        text-align: center;
    }
    .One {
        margin-top: 120px;
        align-items: flex-start;
        justify-content: start;
    }
    .Two {
        grid-row: 2;
        margin-top: -200px;
        align-items: flex-start;
        justify-content: start;
    }
    .Three {
        grid-row: 3;   
        margin-top: -90px;
        align-items: flex-start;
        justify-content: start;
    }
    .Four {
        grid-row: 4;  
        margin-top: -30px;
        align-items: flex-start;
        justify-content: start; 
    }
    .Five {
        grid-row: 5;
        margin-top: -80px;
        align-items: flex-start;
        justify-content: start;
    }
    .Six {
        grid-row: 6;
        margin-top: -90px;
        align-items: flex-start;
        justify-content: start;
    }
    .Seven {
        grid-row: 7;
        margin-top: -185px;
        align-items: flex-start;
        justify-content: start;
    }
    .Eight {
        grid-row: 8;
        margin-top: -15px;
        align-items: flex-start;
        justify-content: start;
    }
    .nine {
        grid-row: 9;
        margin-top: -190px;
        align-items: flex-start;
        justify-content: start;
    }
    .ten {
        grid-row: 10;
        margin-top: -80px;
        align-items: flex-start;
        justify-content: start;
    }
}
@media (max-width: 375px) {
    .One {
        margin-top: 120px;
        align-items: flex-start;
        justify-content: start;
    }
    .Two {
        grid-row: 2;
        margin-top: -20px;
        align-items: flex-start;
        justify-content: start;
    }
    .Three {
        grid-row: 3;   
        margin-top: -90px;
        align-items: flex-start;
        justify-content: start;
    }
    .Four {
        grid-row: 4;  
        margin-top: -30px;
        align-items: flex-start;
        justify-content: start; 
    }
    .Five {
        grid-row: 5;
        margin-top: -80px;
        align-items: flex-start;
        justify-content: start;
    }
    .Six {
        grid-row: 6;
        margin-top: -90px;
        align-items: flex-start;
        justify-content: start;
    }
    .Seven {
        grid-row: 7;
        margin-top: -185px;
        align-items: flex-start;
        justify-content: start;
    }
    .Eight {
        grid-row: 8;
        margin-top: -15px;
        align-items: flex-start;
        justify-content: start;
    }
    .nine {
        grid-row: 9;
        margin-top: -190px;
        align-items: flex-start;
        justify-content: start;
    }
    .ten {
        grid-row: 10;
        margin-top: -80px;
        align-items: flex-start;
        justify-content: start;
    }
}
@media (max-width: 425px) {}
@media (max-width: 768px) {
    .container-refinery-paper {
        padding-left: 38px;
        padding-right: 38px;
    }
    .hero-bg {
        background-size: cover;
    }
    .heading-hero-refinery-paper {
        font-size: 40px;
        line-height: 60px;
        text-align: center;
        margin: 0 auto;
    }
    .section-tree-refinery-paper {
        padding-bottom: 100px;
    }
    .heading-section-tree-refinery-paper{
        padding-left: 38px;
        padding-right: 38px;
    }
    .heading-section-tree-refinery-paper span:nth-child(1){
        text-align: left;
        align-self: flex-start;
        width: 50%;
        margin-bottom: 23px;
    }
    .heading-section-tree-refinery-paper span:nth-child(2){
        width: 100%;
        text-align: left;
    }
    .hero-bg {
        margin-bottom: 0px;
    }
    .wrapper-tree {
        background-image: url(../assets/asset_refinery/bg-tree-mobile.png);
        background-position: left;
        height: 3200px;
        grid-template-columns: 1fr;
        row-gap: 100px;
        padding-right: 38px;
    }
    .wrapper-tree div:nth-of-type(even){
        grid-column: 1;
    }
    .nav-menu-refinery-paper {
        position: fixed;
        right: -200%;
        top: 0;
        /* margin-right: -30%; */
        display: none;
        /* margin-top: 100px; */
        padding-top: 100px;
        justify-content: start;
        align-items: center;
        flex-direction: column;
        background-color: rgb(0, 0, 0);
        width: 70%;
        height: 100vh;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        z-index: 99;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
    }
    .nav-menu-refinery-paper.go {
        right: 0;
    }
    .nav-item-refinery-paper {
        margin: 2.5rem 0;
    }
    .hamburger {
        display: block;
        cursor: pointer;
        z-index: 99;
    }
    .hamburger.go .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.go .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.go .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    .navbar-refinery-paper {
        display: flex;
        justify-content: space-between;
    }
    .title-card-tree {
        font-size: 24px;
        line-height: 36px;
    }
    .desc-card-tree {
        font-size: 14px;
        line-height: 21px;
    }
    .One {
        margin-top: 90px;
        margin-left: 100px;
    }
    .Two {
        margin-top: 20px;
        margin-left: 100px;
    }
    .Three {
        margin-top: -40px;
        margin-left: 100px;
    }
    .Four {
        margin-top: -70px; 
        margin-left: 100px;
    }
    .Five {
        margin-top: 10px;
        margin-left: 100px;
    }
    .Six {
        margin-top: -75px;
        margin-left: 100px;
    }
    .Seven {
        margin-top: 0px;
        margin-left: 100px;
    }
    .Eight {
        margin-top: -15px;
        margin-left: 100px;
    }
    .nine {
        margin-top: 25px;
        margin-left: 100px;
    }
    .ten {
        margin-top: -25px;
        margin-left: 100px;
    }
    .footer-section-tree-refinery-paper {
        display: none;
    }
  }
  @media (max-width: 768px){
      
  }
  @media (min-width: 1024px) and (max-width:1339px){
    .container-refinery-paper {
        padding-left: 40px;
        padding-right: 40px;
    }
    .heading-hero-refinery-paper{
        width: 48%;
        text-align: center;
    }
    .wrapper-tree {
        margin-bottom: 0px;
    }
    .section-tree-refinery-paper{
        padding-left: 40px;
        padding-right: 40px;
        padding-bottom: 100px;
    }
    .footer-section-tree-refinery-paper {
        padding-top: 600px;
    }
    .One {
        margin-top: 120px;
    }
    .Two {
        margin-top: -70px;
    }
    .Three {
        margin-top: -110px;
    }
    .Four {
        margin-top: -30px; 
    }
    .Five {
        margin-top: -130px;
    }
    .Six {
        margin-top: -110px;
    }
    .Seven {
        margin-top: -210px;
    }
    .Eight {
        margin-top: -90px;
    }
    .nine {
        margin-top: -260px;
    }
    .ten {
        margin-top: -190px;
    }
  }
  @media (min-width: 1440px){
    .section-tree-refinery-paper{
        padding-left: 130px;
        padding-right: 130px;
        padding-bottom: 100px;
    }
  }
  @media (min-width: 1680px){
    .One {
        margin-top: 120px;
    }
    .Two {
        margin-top: 0px;
    }
    .Three {
        margin-top: -10px;
    }
    .Four {
        margin-top: -30px; 
    }
    .Five {
        margin-top: -60px;
    }
    .Six {
        margin-top: -85px;
    }
    .Seven {
        margin-top: -165px;
    }
    .Eight {
        margin-top: -15px;
    }
    .nine {
        margin-top: -160px;
    }
    .ten {
        margin-top: -40px;
    }
  }
