*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body{
    width:100vw;
    background-color: #000000;
    overflow: auto;
    margin: unset;
}
html {
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}
main {
    margin-top: 70px;
}

.container-refinery {
    padding-left: 40px;
    padding-right: 40px;
    margin: 0 auto;
    max-width: 1440px;
}
.cursor {
    cursor: pointer;
}
.d-none{
    display: none;
}
.d-block {
    display: block;
}
.d-flex {
    display: flex;
}
.t-white {
    color: #fff;
}

.t-500 {
    font-weight: 500;
}
.t-600 {
    font-weight: 600;
}
.t-700 {
    font-weight: 700;
}
.t-16-24 {
    font-size: 16px;
    line-height: 24px;
}
.t-16-27 {
    font-size: 16px;
    line-height: 27px;
}
.t-12-18 {
    font-size: 12px;
    line-height: 18px;
}
.t-36-54 {
    font-size: 36px;
    line-height: 54px;
}
.t-14-21 {
    font-size: 14px;
    line-height: 21px;
}
.t-grey {
    color: rgba(255, 255, 255, 0.6);
}
.jcc {
    justify-content: center;
}
.aic {
    align-items: center;
}
.fdc {
    flex-direction: column;
}
.fdr {
    flex-direction: row;
}
/* navbar */
.navbar-refinery {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    padding-top: 20px;
}
.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #ffffff;
}
.nav-menu-refinery {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-center{
    padding-left: 55px;
    padding-right: 55px;
}
.nav-logo-refinery {
    display: flex;
    justify-content: start;
    align-items: flex-start;
}
.comeup {
    background-color: rgba(255, 255, 255, 0.07);
  border-bottom-right-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
}
.nav-menu-refinery.comeup {
    display: flex;
    right: 0px;
}
/* section-hero */
.refinery-sec1{
    padding-top: 250px;
    /* background: url('../assets/asset_homepage/home-gem.png'), url('../assets/asset_homepage/home-line.png'); */
    background-position: 12% 90%, 47% 30%;
    background-repeat: no-repeat;
    background-size: 100%, 150%;
    /* padding-bottom: 285px; */
}
.btn-orange {
    padding-top: 14px;
    padding-bottom: 14px;
    color: #fff;
    background-color: rgba(247, 93, 25, 1);
    border-radius: 60px;
    text-align: center;
}
.btn-orange:hover {
    background-color: rgba(247, 93, 25, 0.9);
    transition: 100ms;
}
.btn-hero-refinery {
    padding-left: 41px;
    padding-right: 41px;
}

.refinery-main-box{
    width: 100%;
    position: relative;
    padding: 0 81px;
    padding-top: 74px;
    padding-bottom: 65px;
    background: url("../assets/asset_refinery/refinery-line.png");
    background-position: center;
    background-size: 102% 110%;
    background-repeat: no-repeat;
}
.refinery-main-box .ic-center-wrapper{
  position: absolute;
  top: -250px;
  max-width: 250px;
  width: 100%;
}
.heading-section-hero {
    margin-top: -150px;
    z-index: 2;
    margin-bottom: 0px;
    text-shadow: 0px 0px 15px #F75D19;
    font-size: 72px;
    font-weight: 600;
    line-height: 108px;
    color: #fff;
    text-shadow: 0px 0px 15px #F75D19;
}
.refinery-main-box > p{
  position: relative;
  margin-bottom: 58px;
  color: rgba(255, 255, 255, 0.7);
}
.refinery-main-box > p::after{
  position: absolute;
  width: 100%;
  height: 100%;
  content: 'Much like its namesake, the refinery team takes your raw, unfinished project and runs it through a series of audits and other services, turning it into a gem worthy of our launchpad.  ';
  top: 0;
  left: 0;
  color: rgba(255, 255, 255, 0.7);
  /* filter: blur(16px); */
}
.refinery-main-box > .btn-wrap > a{
    background: linear-gradient(264.76deg, #F75D19 0%, #F75D19 88.97%);
    border-radius: 60px;
    padding: 16px 67px;
    margin: 0 11px;
}
.refinery-main-box > .btn-wrap > a > img{
  margin-right: 6px;
}


.t-navbar > .container > .nav-menu > .nav-link-wrap.special{
    background: #0E93F5;
}
.section-bg {
    width: 100%;
    position: relative;
    height: 100vh;
    background: url("../assets/asset_refinery/bg-refinery.png");
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    margin-bottom: 180px;
    padding: 0px;
}
.section-service {
    padding-left: 40px;
    padding-right: 40px;
    margin: 0 auto;
    max-width: 1440px;
    margin-bottom: 150px;
}
.heading-section-service {
    font-size: 55px;
    font-weight: 600;
    line-height: 71.5px;
    color: #fff;
    text-shadow: 0px 0px 15px #F75D19;
    margin-bottom: 52px;
}
.grid-container {
    display: grid;
    grid-column-gap: 53px;
    grid-row-gap: 30px;
    grid-template-columns: auto auto auto;
    margin-bottom: 48px;
  }
  
  .grid-item {
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 62px 20px 62px 44px;
    font-size: 30px;
    text-align: left;
    background-color: rgba(247, 93, 25, 0.2);
    border: 1px solid #F75D19;
    box-shadow: inset 0px 0px 10px 10px rgba(247, 93, 25, 0.2), 0px 0px 10px 10px rgba(247, 93, 25, 0.2);;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    position: relative;
    max-height: 180px;
  }
  .circle-orange {
      width: 48px;
      height: 48px;
      position: absolute;
      left: -25px;
      top: 65px;
      background-color: #F75D19;
      border-radius: 50px;
      box-shadow: 0px 0px 10px 10px rgba(247, 93, 25, 0.2);
  }
  .grid-item span {
      width: 100%;
  }
  .grid-item span:nth-child(1) {
      width: 100%;
      font-size: 20px;
      line-height: 30px;
      font-weight: 600;
      color: #fff;
  }
  .grid-item span:nth-child(2) {
      width: 100%;
      font-size: 16px;
      line-height: 24px;
      font-weight: 400;
      color: rgba(255, 255, 255, 0.7);
  }
  .section-service-footer span {
      color: rgba(255, 255, 255, 0.7);
      font-size: 24px;
      line-height: 36px;
      margin-bottom: 24px;
      text-align: center;
  }
  .btn-service {
      font-size: 18px;
      line-height: 27px;
      padding: 14px 34px 14px 34px;
  }
  @media only screen and (max-width: 768px) {
    .nav-menu-refinery {
        position: fixed;
        right: -200%;
        top: 0;
        /* margin-right: -30%; */
        display: none;
        /* margin-top: 100px; */
        padding-top: 100px;
        justify-content: start;
        align-items: center;
        flex-direction: column;
        background-color: rgb(0, 0, 0);
        width: 70%;
        height: 100vh;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        z-index: 99;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
    }
    .nav-menu-refinery.comeup {
        right: 0;
    }
    .nav-item-refinery {
        margin: 2.5rem 0;
    }
    .hamburger {
        display: block;
        cursor: pointer;
        z-index: 99;
    }
    .hamburger.comeup .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.comeup .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.comeup .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    .navbar-refinery {
        display: flex;
        justify-content: space-between;
    }
  }
  @media (max-width: 600px) {
    .grid-container { 
        grid-template-columns: auto
    }
    .refinery-sec1 {
        padding-top: 200px;
    }
    .refinery-main-box {
        padding-left: 50px;
        padding-right: 50px;
    }
    .heading-section-service {
        text-align: center;
        width: 100%;
        font-size: 36px;
        line-height: 46.8px;
        font-weight: 600;
    }
    .heading-section-hero {
        font-size: 40px;
        line-height: 60px;
    }
    .refinery-main-box .ic-center-wrapper {
        top: -225px;
    }
    .section-bg {
        margin-bottom: 0;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .section-service-footer span {
        color: rgba(255, 255, 255, 0.7);
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 24px;
        text-align: center;
        width: 70%;
    }
  }
  @media (min-width: 600px) and (max-width: 1220px) {
        .section-bg {
            background-size: cover;
        }
        .grid-container { 
            grid-template-columns: auto auto;
        }
  }
  @media (min-width: 1440px){
        .container-refinery {
            padding-left: 145px;
            padding-right: 145px;
        }
        .section-service {
            padding-left: 145px;
            padding-right: 145px;
        }
        .section-bg {
            margin-top: 0px;
            height: 128vh;
        }
  }