.roadmap-landing-sec1{
    padding-top: 150px;
    background: url('../assets/asset_roadmap/bg-roadmap.png');
    background-position: 47% 0%;
    background-repeat: no-repeat;
    background-size: 100%;
    padding-bottom: 248px;

  }
  
  .roadmap-main-box{
      width: 100%;
      position: relative;
      padding: 0 81px;
      padding-top: 74px;
      padding-bottom: 65px;
      margin-bottom: 73px;
      background-position: center;
      background-size: 102% 110%;
      background-repeat: no-repeat;
  }
 
  .roadmap-main-box > h1{
    position: relative;
    margin-bottom: 58px;
  }

  .section > .container > .sec-roadmap {
   
        margin-top: -400px;
        margin-bottom: 200px;
        padding-left: 80px;
    
  }










/* font  */

.roadmap-display{
font-weight: 600;
font-size: 72px;
line-height: 108px;
text-align: center;
color: #FFFFFF;
text-shadow: 2px 2px 14px #0E93F5;

}


/* respondsive  */
  
@media all and (min-width: 1280px){
   
}
@media all and (min-width: 1440px){

}

@media all and (max-width: 1140px){
    .scrolloverflow{
        overflow-y: auto;
    }
}
@media all and (max-width: 1000px){
  
}
@media all and (max-width: 994px){

}
@media all and (max-width: 972px){

 
}
@media all and (max-width: 768px),
all and (orientation: landscape) and (max-width: 768px){
  
    .section > .container > .sec-roadmap {
   
        margin-top: -300px;
        margin-bottom: 200px;
        padding-left: 5px;
    
  }

    .roadmap-display {
      
        font-size: 60px;
       
    }

    .scrolloverflow{
        overflow-y: auto;
    }

    .sec-roadmap > img {
        width : 335%
    }

  .t-12-14{
      font-size: 11px;
      line-height: 13px;
  }
  .t-14-14{
      font-size: 12px;
      line-height: 14px;
  }
  .t-14-16{
      font-size: 12px;
      line-height: 14px;
  }
  .t-16-19{
      font-size: 12px;
      line-height: 14px;
  }
  .t-18-21{
      font-size: 16px;
      line-height: 18px;
  }
  .t-20-24{
      font-size: 18px;
      line-height: 21px;
  }
}
@media all and (max-width: 568px){
 
  .logo > img.big{
      display: block;
  }
  .logo > img.small{
      display: none;
  }
}

@media all and (max-width: 430px){
    .doc-display {
        font-weight: 600;
        font-size: 50px;
        line-height: 60px;

    }
    /* .docpage-main-box > .btn-wrap {
        display: flex;
        flex-direction: column;
    } */

  .doc-t-18-27{
    font-size: 12px;
    line-height: 18px;
}
/* .docpage-main-box > .btn-wrap > a{
  margin-bottom: 12px;
} */

.roadmap-main-box {

padding: 0 40px;
padding-top: 74px;
padding-bottom: 65px;

}

.roadmap-landing-sec1 {
background-position: 47% 30%;
background-repeat: no-repeat;
background-size: 200%;
padding-bottom: 148px;
}

.roadmap-main-box {

padding: 0 20px;
padding-top: 74px;
padding-bottom: 65px;
margin-bottom: 73px;

}

.roadmap-main-box > a {

padding: 16px 60px;

}



}
@media all and (max-width: 375px){
    .roadmap-main-box {
    padding: 0 10px;
    padding-top: 74px;
    padding-bottom: 65px;
}

}