.scanner-landing-sec1{
    padding-top: 150px;
    background: url('../assets/asset_scanner/bg-scanner.png');
    background-position: 47% 100%;
    background-repeat: no-repeat;
    background-size: 100%;
    padding-bottom: 650px;

  }

.form-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
}


.form-wrap > button >img{
    margin: 7px 11px 5px 11px;
    padding: 16px 33px;
    background: linear-gradient(264.76deg, #00C9D4 0%, #0E93F5 88.97%);
    border-radius: 60px;
}

.submit[type=submit]{
    cursor: pointer;
}

.form-wrap > input {
    margin: 5px 11px 5px 11px;
    padding: 16px 246px 15px 24px;
    background: rgba(255, 255, 255, 0.07);
    border: 1px solid rgba(255, 255, 255, 0.15);
    box-sizing: border-box;
    border-radius: 9px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    opacity: 0.6;
}

/* .form-wrap > form > label >  */

input[type=text]:focus {
    /* background: rgba(255, 255, 255, 0.07); */
    border: 1px solid #0E93F5;
}

/* respondsive  */
  
@media all and (min-width: 1280px){
   
}
@media all and (min-width: 1440px){

}




@media all and (max-width: 1140px){
}
@media all and (max-width: 1000px){
  
}
@media all and (max-width: 994px){

}
@media all and (max-width: 972px){

 
}
@media all and (max-width: 768px),
all and (orientation: landscape) and (max-width: 768px){
  
    .form-wrap{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .scanner-landing-sec1 {
        background-position: 47% 180%;
        background-repeat: no-repeat;
        background-size: 200%;
        padding-bottom: 448px;
        }



}
@media all and (max-width: 568px){
 
  .logo > img.big{
      display: block;
  }
  .logo > img.small{
      display: none;
  }
}

@media all and (max-width: 430px){

    .form-wrap > input {
        padding: 16px 24px 15px 24px;
    }



.scanner-landing-sec1 {
background-position: 47% 80%;
background-repeat: no-repeat;
background-size: 200%;
padding-bottom: 448px;
}







}
@media all and (max-width: 375px){
 

}